{% extends 'base.html' %}

{% block content %}
<!-- 	<center>

	<!-- <h1>Deneyi:</h1> -->
<!-- 	<h1>{{ d }}</h1>
	<br/>
	{{ d.masaSayisi }} <br/>
	{{ d.malzeme1  }} <br/>
	{{ d.malzeme2 }} <br/>
	{{ d.mazeme3 }} <br/>
 
 -->

	<!--</center> -->

<!-- <div class="card">
  <div class="card-header">
    deneyi
  </div>
	  <div class="card-body">
	  	<h5 class="card-title">{{ d }}</h5>
	    
		   <p class = "card-text"> -->
				<!-- <li>{{ d.masaSayisi }}</li>
				<li>{{ d.malzeme1  }}</li>
				<li>{{ d.malzeme2 }}</li> -->
<!-- 				 <li> malzeme: <br/>
				{%for c in d.malzeme.all %}
				 {{c}} <br/> 
				{% endfor %}
				</li>
				{{ d.description }}<br/>
		 
		 
			   	
	   		</p>
	   
	  </div>
</div> -->
 

{%endblock %}