 {% extends 'base.html' %}

{% block content %}
<!--  <center>

  <!-- <h1>Deneyi:</h1> -->
<!--  <h1>{{ d }}</h1>
  <br/>
  {{ d.masaSayisi }} <br/>
  {{ d.malzeme1  }} <br/>
  {{ d.malzeme2 }} <br/>
  {{ d.mazeme3 }} <br/>
 
 -->

  <!--</center> -->
<!--   <table class='table'>
        <thead>
          <tr>
            <th>COUNT</th>
            <th>Ad</th>
            <th>MIKTAR</th>
            <th>TUR</th>
            <th>KATI</th>
            <th>SIVI</th>
            <th>DEĞER</th>
            <th>ÖZGÜNLÜK</th>
            <th>TEHLİKE</th>
            <th>ACID</th>
          </tr>
        </thead>
      {% for instance in a %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{instance.adi}}</td>
            <td>{{instance.miktar}}</td>
            <td>{{instance.Materialtype}}</td>
            <td>{{instance.kati}}</td>
            <td>{{instance.sivi}}</td>
            <td>{{instance.deger}}</td>
            <td>{{instance.özgünlük}}</td>
            <td>{{instance.tehlike}}</td>
            <td>{{instance.acidli}}</td>
          </tr>
      {% endfor %}
    </table> -->
 

{%endblock %}